<h3>{{ candidates }}</h3>

<input type="checkbox" checked name="male" (click)=checkedMale(this) /> Male 
<input type="checkbox" checked name="female" (click)=checkeFemMale(this)/> Female 
<input type="text" name="search_user" (onBlur)=searchUsers() />
<br><br>
<div>
<table>
  <tr>
    <th *ngFor= "let column of headers"> 

      {{column}}
    </th>
  </tr>
<br>
  <tr *ngFor = "let row of rows">
    <td *ngFor = "let column of headers">
      {{row[column]}}
  </td>
</tr>
</table>
</div>

<h3>{{ newCandidates }}</h3>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()"> 
  <div>
    <label for="first_name">
      FirstName
    </label><input id="first_name" type="text" formControlName="first_name" />
  </div><br>
  <div>
    <label for="last_name">
      LastName
    </label><input id="last_name" type="text" formControlName="last_name" />
  </div>
  <br>
  <div>
    <label for="email">
      Email
    </label><input id="last_name" type="text" formControlName="email" />
  </div>
<br>
 
<input class type="checkbox" value="Female" formControlName="gender" /> Female 
<input type="checkbox" value="Male" formControlName="gender"  /> Male 
<button  type="submit">Add</button>


</form>



